* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

p, a, li {
    font-size: 14px;
    line-height: 22px;
    font-family: 'PT Sans', sans-serif;
}

.head {
    background-color: #dbdbdb;
    min-height: 230px;
    display: flex;
    flex-flow: column wrap;
}

.head-content {
    justify-content: center;
    width: 980px;
    padding:  0 10px;
    margin: auto;
    padding-top: 65px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, min(100px));
    margin-bottom: 65px ;
}

@font-face{
    font-family: 'Open Sans Condensed', sans-serif;
    src: url('../fonts/OpenSansCondensed-Light.woff') format('woff');
}

.head-content img {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: flex-start;
    width: 273px;
    height: 100px;
}

.number {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: flex-end;
}

.number p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 40px;
    line-height: 46px;
    color: #767676;
}

.menu {
    min-height: 80px;
}

.nav-bar {
    display: flex;
    background-color: #767676;
    align-items: center;
    justify-content: center;
}

.nav-bar-list {
    list-style: none;
    display: flex;
    padding: 26px 10px;
    flex-wrap: wrap;
    flex-shrink: none;
    max-width: 980px;
    align-items: center;
    justify-content: center;
}

.nav-bar-list li a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}

.nav-bar-list li + li {
    margin-left: 22px;
    padding-left: 22px;
    border-left: 1px solid #fff;
}

.nav-bar-list li a:hover {
    cursor: pointer;
    border-bottom: 1px solid #fff;
    border-bottom-width: 2px;
}

.slider {
    background: #f8f8f8;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: -2;
}

.slider img {
    z-index: -1;
    overflow: hidden;
}

.main-content {
    width: 980px;
    padding: 0 10px;
    margin: 30px auto 195px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, auto);
    word-wrap: break-word;
    word-break: break-all;
    line-break: normal;
}

.news {
    grid-area: 1 / 1 / 2 / 2;
    background-color: #767676;
    width: 350px;
    height: auto;
    padding: 25px 52px 100px 33px;
    color: #ffffff;
    margin-bottom: auto;
}

.news > p:first-child {
    font-size: 40px;
    letter-spacing: 1px;
    padding-bottom: 11px;
}

.news > a {
    margin-top: 30px;
    float: right;
    color: #ffffff;
}

.news section {
    margin-top: 23px;
    letter-spacing: 0.35px;
}

.news section p{
    font-style: italic;
}

.news section a {
    color: #fff;
    text-decoration: none;
}

.main-aside {
    grid-area: 1 / 2 / 2 / 3;
    width: 569px;
    height: auto;
    padding: 22px 0 0 20px;
}

.main-aside p:first-child {
    font-size: 40px;
    letter-spacing: 1px;
    margin-bottom: 32px;
}

.main-aside p {
    font-size: 15px;
    color: #767676;
}

.main-aside p + p {
   margin-top: 22px;
}

.footer {
    background-color: #767676;
    width:100%;
    margin-top: auto;
}

.footer-content {
    width: 980px;
    padding: 45px 12px;
    margin: auto;
    color: #fff;
    display: grid;
    letter-spacing: 0.02rem;
    grid-template-columns: 350px 1fr 221px;
}

.footer-nav-bar-list li {
    list-style: none;
}

.footer-nav-bar-list li a {
    line-height: 26px;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    color: #fff;;
}

.footer-logo {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.footer-logo img {
    margin-top: 5px;
}

.footer-logo p {
    display: inline-block;
    margin-left: 9px;
    letter-spacing: 0.35px;
}

.footer-logo a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
}